@{
    ViewData["Title"] = "Політика конфіденційності";
}

<h1 class="page-title"> @ViewData["Title"]</h1>
<p class="page-subtitle">Використовуйте цю сторінку для опису політики конфіденційності вашого сайту.</p>
